<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects List</title>
</head>
<body> -->
    <%- include("partials/header.ejs") %>
    <% if(locals.projects){%>
<div id="table-container">
    <table id="proj-list">
        <tr>
            <th>Project ID</th> <th>Project Title</th> <th>Project Field</th> <th>Project Difficulty</th>
        </tr>
        <% projects.forEach(project => { %>
        <tr>
            <td><%= project.project_id%></td> <td><%=project.title%></td> <td><%=project.field%></td> <td><%=project.difficulty%></td>
        </tr>
        <% }); %>
    </table>
</div>
    <% } %>
    <a href="/">Go back</a>

    <%- include("partials/footer.ejs") %>